/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.open-sans-family {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* General classes */
.text-primary {
  color: #fd6e0a;
}
/* Nav Styles */
nav {
  display: flex;
}
.title {
  font-weight: 800;
}
